<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alumnos</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Lista Alumnos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.nombre_alumno }} {{ alumno.apellido_alumno}}</td>
                <td>
                    <a href="{% url 'asignar_nota' alumno.id_alumno %}">Asignar nota</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body> 
</html>